{% extends 'portal/base.html' %}

{% block content_title %}
    <h3 class="content-header-title">{{ category.title }}</h3>
{% endblock %}

<!-- Need category data for list item of Left menu in base.html -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
{% block left_menu %}
<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
  <li class=" nav-item"><a href="{% url 'portal-home' %}"><i class="ft-home"></i>Dashboard</a>
  </li>
  <!-- list item for the category -->
  {% for category in categories %}
      <li class=" nav-item">
      <a href="{% url 'portal-category' category.id  %}"><i class="ft-layers"></i>{{ category.title }}</a>
      </li>
  {% endfor %}
  <!-- end of list item for the category -->
</ul>
{% endblock %}

{% block content%}
<div class="row match-height">
  <!-- Card -->
  <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header">
                  <!-- title for the box -->
                  <h4 class="card-title" id="heading-multiple-thumbnails">Content</h4>
                  <a class="heading-elements-toggle">
                      <i class="la la-ellipsis-v font-medium-3"></i>
                  </a>

                  <!-- button for the box -->
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                          <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                          <li><a data-action="close"><i class="ft-x"></i></a></li>
                      </ul>
                  </div>
                  <!-- end of button for the box -->

              </div>

              <!-- content for the box -->
              <div class="card-content collapse show">
                  <div class="card-body">

                      <!-- Origin version message -->

                      <form method="post">
                          {% csrf_token %}
                      <input type="hidden" name="Delete_cate" value= {{ category.id }}>
                      <input type="submit" value="Delete Category">
                      </form>

                      {% for message in messages %}
                          <h3> {{ message.title }} </h3>
                          <p> {{ message.content }} </p>
                          <form method="post">
                              {% csrf_token %}
                          <input type="hidden" name="Delete_msg" value= {{ message.id }}>
                          <input type="submit" value="Delete">
                          </form>
                      {% endfor %}
                      <a href="{% url 'portal-home' %}"> Home page </a>

                      <!-- End of Origin version message -->

                  </div>
              </div>

          </div>
    </div>
</div>
{% endblock content %}
