
<!-- Merge Jackie's code with Django home.html -->

<!--
Reference:
  The Layout is modified from the Chameleon Admin Template from https://themeselection.com/
  Template icons ref: https://github.com/colebemis/feather
  Template images ref: https://unsplash.com/
  background image 1 ref: https://www.pinterest.com/pin/643311128002050940/
  background image 2 ref: https://www.videoblocks.com/video/dark-background-with-triangle-pattern-rncyqmozwj38if4yg
-->

<!DOCTYPE html>

{% load static %}

<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="CSCI 3100 Project Home Page">
    <meta name="author" content="Group 17">
    <meta name="keywords" content="dashboard, CSCI3100, Project">
    {% block page_title %}
    <title>Web Portal</title>
    {% endblock %}
    <link rel="apple-touch-icon" href="{% static 'theme-assets/images/ico/apple-icon-120.png' %">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'theme-assets/images/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/vendors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/vendors/css/charts/chartist.css' %}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN Chameleon Template  CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/app-lite.css' %}">
    <!-- END Chameleon Template  CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/pages/dashboard-ecommerce.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/form-autocomplete.css' %}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END Custom CSS-->


  </head>
  <body class="vertical-layout vertical-menu 2-columns fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns" style="background: url({% static 'theme-assets/images/backgrounds/main_bg1.jpg' %}); background-size: cover"> <!-- data-color="bg-gradient-x-purple-blue" -->

    <!-- ==============TOP MENU============== -->
    <!-- Navigation Bar -->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light navbar-left" style="background-color: #2c303b"> <!--   -->
      <div class="navbar-wrapper">
        <div class="navbar-container content">
          <div class="collapse navbar-collapse show" id="navbar-mobile">
            <ul class="nav navbar-nav mr-auto float-left">
              <li class="nav-item d-none d-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
            </ul>

            <ul class="nav navbar-nav float-right">

            <!-- Top Right Corner -->
            <!-- for the login, logout, user icon -->

              <div class="text-center" id="login_logout_button">
              {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}"  class="btn btn-primary btn-block">Logout</a>
              {% else %}
                  <a href="{% url 'login' %}"  class="btn btn-primary btn-block">Login</a>
              {% endif%}
              </div>

            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
   <!-- LEFT MENU -->

   <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow " data-scroll-to-active="true" style="background: url({% static 'theme-assets/images/backgrounds/main_bg2.png' %})">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto"><a class="navbar-brand" href=""><img class="brand-logo" alt="logo" src="{% static 'theme-assets/images/logo/logo.png' %}"/>
            <!-- Menu title -->
            <h3 class="brand-text">Web Portal</h3></a></li>
        <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
      </ul>
    </div>
    <div class="main-menu-content">
      <!-- menu content -->
      <ul class="navigation navigation-main connectedSortable" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="active"><a href=""><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>

        </li>

        <!-- list item for the category -->

        {% for block in category_blocks %}
            <li class=" nav-item">
            <a href="{% url 'portal-category' block.category.id  %}"><i class="ft-layers"></i><span class=title>{{ block.category.title }}</span></a>
            </li>
        {% endfor %}

        <!-- end of list item for the category -->

      </ul>

      <!-- Submit Form for Delete Category message -->
      <!-- !!!! Put those form here to avoid covering the form !!!! -->

      {% block submit_form %}
        {% if user.is_authenticated %}
        {% for block in category_blocks %}
        <div class="modal fade" id="confirm-submit-cate{{ block.category.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="Delete_cate" value= {{ block.category.id }}>
                        <div class="modal-header">
                            <h4 class="modal-title w-100 font-weight-bold warning-title" id="maintext">Confirm Delete Category</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body warning-msg">
                            Are you sure you want to delete?
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <!-- submit the form, not yet finish for submitting the delete info. to server -->
                            <button type="button" class="btn btn-warning" onclick="deleteCate({{ block.category.id }})">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for message in messages %}
        <!-- confirmation of delete message -->
          <div class="modal fade" id="confirm-submit{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <form method="post">
                          {% csrf_token %}
                          <input type="hidden" name="Delete_msg" value= {{ message.id }}>
                          <div class="modal-header">
                              <h4 class="modal-title w-100 font-weight-bold warning-title" id="maintext">Confirm Delete</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body warning-msg">
                              Are you sure you want to delete?
                          </div>

                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <!-- submit the form, not yet finish for submitting the delete info. to server -->
                              <input type="submit" value="Delete" class="btn btn-warning">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
        {% endfor %}
        {% endif %}
      {% endblock %}

      <!-- new category button -->
      {% if user.is_authenticated %}

      <a href="" class="btn btn-info btn-block btn-upgrade-pro mx-1 mb-4"  data-toggle="modal" data-target="#reorderCategory">
        Reorder Category
      </a>

      <a href="" id="new-category" class="btn btn-primary btn-block btn-upgrade-pro mx-1" data-toggle="modal" data-target="#modalAddCategoryForm">
        Add new Category
      </a>
      {% endif %}
    </div>
    <div class="navigation-background"></div>
  </div>

  <!-- MAIN page -->

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <!-- Main page title -->
          <br>
          <h3 class="content-header-title">Home</h3>
        </div>


        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="text-center">
              <div class="content-header-right col-md-12 col-12">
                <div class="breadcrumbs-top float-md-right">
                  <div class="text-center">
                    <!-- new website button -->
                    {% if user.is_authenticated %}
                    <br>
                    <a href="" id="new-website" class="btn btn-success btn-block" data-toggle="modal" data-target="#modalSearchForm">
                      Add New Website
                    </a>
                    {% endif %}

                    <!-- connect to Google Calendar button -->
                    {% if user.is_authenticated %}
                      {% if not user.profile.google_auth %}
                      <a href="calendar/" class="btn btn-warning btn-block" >
                      Connect to Google Calendar
                      </a>
                      {% endif %}
                    {% endif %}
                  </br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="content-body">

<!-- MAIN Content -->
{% block content %}
<div class="row match-height">
    {% for block in category_blocks %}
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <!-- title for the box -->
                    <h4 class="card-title" id="heading-multiple-thumbnails">{{ block.category.title }}</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>

                    <!-- button for the box -->
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-toggle="modal" data-target="#confirm-submit-cate{{ block.category.id }}"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- content for the box -->
                <div class="card-content collapse show">
                    <div class="card-body">
                        {% for message in block.messages %}
                            <h4 class="card-title">{{ message.title }}</h4>
                            <p class="card-text">{{ message.content }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
<!-- ===========FORM============ -->

<!-- Add Category Form -->
<div class="modal fade" id="modalAddCategoryForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold" id="maintext">Add New Category</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <div class="modal-body mx-3">
     <div class="md-form mb-5">
       <i class="fas fa-envelope prefix grey-text"></i>

   <form id="add_category_form">
       {% csrf_token %}
       <input type="text" id="new_cate_title" class="form-control validate" name="new_cate_title">
       <label data-error="wrong" data-success="right" for="form3">Category Title</label>
       <div>
       <span id="category_error_msg" style="color:red;" ></span>
     </div>

     </div>
   </div>

    <div class="modal-footer d-flex justify-content-center">
     <input type="submit" class="btn btn-primary btn-block"  value="Add">
    </div>
    </form>



  </div>
</div>
</div>
</div>

<!-- Reorder Category Form -->
<div class="modal fade" id="reorderCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold" id="maintext">Reorder Category</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <ul id="columns" class="reorder_cate_list">
          {% for block in category_blocks %}
          <li class="column" draggable="true" id={{ block.category.id }}><ipnut class="btn btn-dark btn-block mb-1"><font size='3'>{{ block.category.title }}</font></ipnut></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-center">
     <input type="submit" class="btn btn-primary btn-block"  value="Reorder" onclick="returnOrder();">
    </div>

  </div>
</div>
</div>

<!-- Add Website Form -->
<form  method="post" autocomplete="off" id="add_website_form">
    {% csrf_token %}
<div class="modal fade" id="modalSearchForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold" id="maintext">Add New Website</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">


        <div class="md-form autocomplete">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="message_title" class="form-control validate" name="message_title">
          <label data-error="wrong" data-success="right" for="form3">Message Title</label>
          <div>
              <span id="msg_title_error_msg" style="color:red;" ></span>
          </div>
        </div>

        <div class="md-form mb-5">
            <label data-error="wrong" data-success="right" for="form3">Category</label>
            <select name="category_dropdown" id="category_dropdown">
                {% for block in category_blocks %}
                    <option value = "{{ block.category.id }}" > {{block.category.title}} </option>
                {% endfor %}
            </select>
        </div>

        <div class="md-form mb-5">
            <label data-error="wrong" data-success="right" for="form3">Add To Calendar</label>
            <input style="margin:10px" type="checkbox" id="add_to_calendar" value="Yes">
            <div>
                <span id="add_to_calendar_err_msg" style="color:red;" ></span>
            </div>
        </div>

      <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="text" id="crawllink" class="form-control validate" name="crawllink">
        <label data-error="wrong" data-success="right" for="form3">Website URL</label>
        <div>
            <span id="url_error_msg" style="color:red;" ></span>
        </div>
      </div>

      <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="text" id="crawltag" class="form-control validate" name="crawltag">
        <label data-error="wrong" data-success="right" for="form3">CSS Selector</label>
        <div>
            <span id="css_selector_error_msg" style="color:red;" ></span>
        </div>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <input type="submit" class="btn btn-primary btn-block" value="Send Request">
    </div>
  </div>
</div>
</div>
</form>

      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->

  <!-- FOOTER -->

  <footer class="footer footer-static footer-light navbar-border navbar-shadow" style="opacity: 0.8;">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">CSCI 3100 </span>
      <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">
          <a href="{% url  'reload' %}">Reload</a>
        </ul>

    <!-- "About" link -->
    <div>
    <a href="{% url  'portal-about' %}"> about </a>
    </div>

    </div>
  </footer>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src = "{% static 'assets/js/add_cate.js' %}"> </script>
  <script type="text/javascript" src = "{% static 'assets/js/add_web.js' %}"> </script>
  <script type="text/javascript" src = "{% static 'assets/js/sort_category.js' %}"> </script>
  <script type="text/javascript" src = "{% static 'assets/js/return_order.js' %}"> </script>

    <!-- BEGIN VENDOR JS-->
    <script src="{% static 'theme-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{% static 'theme-assets/vendors/js/charts/chartist.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN Chameleon Template  JS-->
    <script src="{% static 'theme-assets/js/core/app-menu-lite.js' %}" type="text/javascript"></script>
    <script src="{% static 'theme-assets/js/core/app-lite.js' %}" type="text/javascript"></script>
    <!-- END Chameleon Template  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{% static 'theme-assets/js/scripts/pages/dashboard-lite.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE CONTROL JS-->
    <script type = "text/javascript" src = "{% static 'assets/js/scripts.js' %}" ></script>
    <script src="{% static 'assets/js/loading-actions.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/recommend-autocomplete.js' %}"></script>
    <!-- END PAGE CONTROL JS-->


    </body>
</html>
