

<!-- merge -->

<!-- The Layout is modified from the Admin Template from https://themeselection.com/ -->

<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %}

<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="CSCI 3100 Project Home Page">
    <meta name="author" content="Group 17">
    <meta name="keywords" content="dashboard, CSCI3100, Project">

    <title>Web Portal</title>
    <link rel="apple-touch-icon" href="{% static 'theme-assets/images/ico/apple-icon-120.png' %">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'theme-assets/images/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/vendors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/vendors/css/charts/chartist.css' %}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN Chameleon Template  CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/app-lite.css' %}">
    <!-- END Chameleon Template  CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/pages/dashboard-ecommerce.css' %}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <!-- END Custom CSS-->
  </head>
  <body class="vertical-layout vertical-menu 2-columns fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns" style="background: url({% static 'theme-assets/images/backgrounds/main_bg1.jpg' %}); background-size: cover"> <!-- data-color="bg-gradient-x-purple-blue" -->

    <!-- ==============TOP MENU============== -->
    <!-- Navigation Bar -->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light navbar-left" style="background-color: #2c303b"> <!--   -->
      <div class="navbar-wrapper">
        <div class="navbar-container content">
          <div class="collapse navbar-collapse show" id="navbar-mobile">
            <ul class="nav navbar-nav mr-auto float-left">
              <li class="nav-item d-block d-md-none"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>


            </ul>

            <ul class="nav navbar-nav float-right">



            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
   <!-- LEFT MENU -->

   <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow " data-scroll-to-active="true" style="background: url({% static 'theme-assets/images/backgrounds/main_bg2.png' %})">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'portal-home' %}"><img class="brand-logo" alt="logo" src="{% static 'theme-assets/images/logo/logo.png' %}"/>
            <!-- Menu title -->
            <h3 class="brand-text">Web Portal</h3></a></li>
        <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
      </ul>
    </div>
    <div class="main-menu-content">
      <!-- menu content -->
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="active"><a href="{% url 'portal-home' %}"><i class="ft-home"></i><span class="menu-title" data-i18n="">Home</span></a>
        </li>

        <!-- list item for the category -->

        {% for category in categories %}
            <li class=" nav-item">
            <a href="{% url 'portal-category' category.id  %}">{{ category.title }}</a>
            </li>
        {% endfor %}

        <!-- end of list item for the category -->

      </ul>


    </div>
    <div class="navigation-background"></div>
  </div>

  <!-- MAIN page -->

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <!-- Main page title -->
          <br>
          <h3 class="content-header-title">Register Page</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">



          </div>
        </div>
      </div>
      <div class="content-body">

<!-- MAIN Content -->

<div class="row match-height">
  <!-- first card (dummy) -->
  <div class="col-xl-30 col-lg-11.5 col-md-20 mx-auto">
          <div class="card" style="opacity: 0.9;">
              <div class="card-header">
                  <!-- title for the box -->
                  <div class="content-section">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Join Today</legend>
                                {{ form | crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Sign Up</button>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Already Have An Account? <a class="ml-2" href="/login/">Sign In</a>
                            </small>
                        </div>
                    </div>

              </div>

          </div>
  </div>


</div>


<!-- Login in Form -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold" id="maintext">Login</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="text" id="user_name" class="form-control validate">
        <label data-error="wrong" data-success="right" for="form3">Name</label>
      </div>

      <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="text" id="user_password" class="form-control validate">
        <label data-error="wrong" data-success="right" for="form3">Password</label>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-block" onclick="addNewCategory()" data-dismiss="modal">Login</button>
    </div>
  </div>
</div>
</div>
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->

  <!-- FOOTER -->

  <footer class="footer footer-static footer-light navbar-border navbar-shadow" style="opacity: 0.8;">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">CSCI 3100 </span>
      <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">

        </ul>

    <!-- "About" link -->

    <div>
    <a href="{% url  'portal-about' %}"> about </a>
    </div>

    </div>
  </footer>


    <!-- BEGIN VENDOR JS-->
    <script src="{% static 'theme-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{% static 'theme-assets/vendors/js/charts/chartist.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN Chameleon Template  JS-->
    <script src="{% static 'theme-assets/js/core/app-menu-lite.js' %}" type="text/javascript"></script>
    <script src="{% static 'theme-assets/js/core/app-lite.js' %}" type="text/javascript"></script>
    <!-- END Chameleon Template  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{% static 'theme-assets/js/scripts/pages/dashboard-lite.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
    <script type = "text/javascript" src = "{% static 'assets/js/scripts.js' %}" ></script>


    </body>
</html>
